* {
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif!important;
}
html {
  font-size: 10px;
}
body {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
.card {
  height: 100%;
}
.card-wrapper {
  display: grid;
  grid-template-rows: max-content auto min-content;
}
.display-1 {
  line-height: 2em;
  font-size: 8rem;
}
.tw_pri,
.tw_pri:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.tw_pri:hover,
.tw_pri:focus,
.tw_pri.focus,
.tw_pri.active {
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.js-scroll {
  opacity: 0;
  transition: all 1s;
  transform: translate(100px, 0px) scale(1);
}
.js-scroll-in {
  opacity: 1;
  transform: translate(0px, 0px) scale(1);
}
.js-scroll-blur {
  opacity: 0;
  transition: all 0.5s;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transform: translate(0px, 0px);
}
.js-scroll-blur-in {
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
  transform: translate(0px, 0px);
}
.f_cont{
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}
.fcol{
  margin-left: 25%;
  width: fit-content;
}
@media (max-width: 1440px) {
  .f_cont{
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }

}
@media (max-width: 767px) {
  .f_cont{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}
@media (max-width: 1024px) {
  html {
    /* font-size: 5px; */
  }
  .display-1 {
    line-height: 2em;
    font-size: 4rem;
  }
  .fcol{
    margin-left: 0;
    width: 100%;
  }
}
body {
  overflow-x: hidden;
}
